# Ejemplo de variables de entorno para City Quest Explorer (backend)
# Copia esto a .env y ajusta valores

# Prisma datasource
DATABASE_URL="postgresql://postgres:Valeria06181302"!"@localhost:5432/city_quest_explorer?schema=public"

# (Opcional) Si usas JWT con secreto/config en src/auth/*
# JWT_SECRET="cF6rI61TWVUoL8AQ1EiwbkTHeVgeI3g9a8ra+U5EtSwo0h1HX1IPMQEQ6lDJo2R5mAgzApDz839f18S2JaEuWg=="

